{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.xtdb/xtdb-core {:mvn/version "1.20.0"}
        org.jetbrains.xodus/xodus-openAPI {:mvn/version "2.0.1"}
        org.jetbrains.xodus/xodus-environment {:mvn/version "2.0.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.669"}
                               kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
                               lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                               ch.qos.logback/logback-classic {:mvn/version "1.2.5"}
                               org.clojure/test.check {:mvn/version "0.10.0"}}}}}
